@model DemoApp.WebUI.Models.UserModel

@{
    ViewData["Title"] = Model != null ? "Edit" : "SingUp";
}

<div class="row">

    <div class="col-md-6">
        @*<a asp-area="" asp-action="Index" asp-controller="Account" class="btn btn-outline-dark btn-sm">List of all user</a>*@
    </div>
    <div class="col-md-6">

        <div class="card">
            <h5 class="card-header">@(Model!=null?"Update an account":"Create an account")</h5>
            <div class="card-body">
                <form asp-action="@ViewData["Title"]" class="row g-3">
                    @if (Model != null)
                    {
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-12">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Password" class="control-label"></label>
                        @{
                            if (Model != null)
                            {
                                <input asp-for="Password" type="text" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="Password" type="password" class="form-control" />
                            }

                        }
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        @{
                            if (Model != null)
                            {
                                <input asp-for="ConfirmPassword" type="text" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            }

                        }
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Contcat" class="control-label"></label>
                        <input asp-for="Contcat" class="form-control" />
                        <span asp-validation-for="Contcat" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Country" class="control-label"></label>
                        <select asp-for="Country" class="form-select" asp-items="@ViewBag.Country">
                            <option value="">Please select country</option>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="City" class="control-label"></label>
                        <select asp-for="City" class="form-select" asp-items="@(new SelectList(string.Empty," CityId","CityName"))"></select>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Gender" class="control-label"></label>
                        @foreach (var gender in ViewBag.Genders)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Gender" value="@gender">
                                <label class="form-check-label" asp-for="Gender">@gender</label>
                            </div>
                        }
                        <br />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>   <div class="col-md-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Terms" /> @Html.DisplayNameFor(model => model.Terms)
                            </label>
                            <span asp-validation-for="Terms" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="@(Model!=null?"Update an account":"Create an account")" class="@(Model!=null?"btn btn-warning":"btn btn-primary")" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        jQuery.validator.unobtrusive.adapters.add("checkbox", function (options) {
            if (options.element.tagName.toUpperCase() == "INPUT" && options.element.type.toUpperCase() == "CHECKBOX") {
                options.rules["required"] = true;
                if (options.message) {
                    options.messages["required"] = options.message;
                }
            }
        });

        $(document).ready(function () {
            var items = "<option value=''>Please Select City</option>";
            $('#City').html(items);
            $('#Country').change(function () {
                BindCity();
            });

            var UserId = $('#UserId').val();
            if (UserId != null)
            {
                console.log(UserId);
                BindCity();
            }

        });

        function BindCity() {
            var url = '@Url.Content("~/")' + "Account/GetCityList";
                var ddlsource = "#Country";
                $.post(url, { CountryId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#City").empty();
                    items += "<option value=''>Please Select City</option>";
                    $.each(data, function (i, City) {
                     items += "<option value='" + City.value + "'>" + City.text + "</option>";
                    });
                    $('#City').html(items);

                    //
                    var _cityval = @(ViewBag.City!=null? Html.Raw(ViewBag.City) : Html.Raw("undefined"));
                    if (_cityval != null) {
                        $('#City').val(_cityval);
                    }

                });

        }
    </script>
}
